{% load static %}
<html>

<head>
    <title>This is the title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static 'css/base.css' %}>
</head>

<body class="">
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">LOGO</a>
            <a href="{% url 'create_ad' %}" class="btn btn-success btn-sm m-3">Create Ad</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if request.user.is_authenticated %}
                <div class="menu-item">
                    <ul class="navbar-nav">
                        <li class="nav-item list-unstyled">
                            <a href="{% url 'index' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item list-unstyled">
                            <a href="{% url 'account' %}" class="nav-link">Accounts</a>
                        </li>
                        <li class="nav-item list-unstyled">
                            <a href="{% url 'logout' %}" class="nav-link">Log out</a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="menu-item">
                    <ul class="navbar-nav">
                        <li class="nav-item list-unstyled">
                            <a class="nav-link" href="{% url 'index' %}">Index</a>
                        </li>
                        <li class="nav-item list-unstyled">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item list-unstyled">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>





    {% block content %} {% endblock content %}


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> 

</body>
<footer class="sticky-bottom">
    <br> this is the footer
</footer>

</html>