{% extends 'personal/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href={% static 'css/index.css' %}>

<!-- Page Content  -->
<div id="content" class="p-md-5 pt-5 pb-0">
    <div class="row">
        {% for ad in ads %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="{% url 'ad_detail' ad.slug %}">
                <div class="card card-block">
                    <img class="img-fluid" src="{{ad.image.url}}" alt="" />
                    <h5 class="card-title mt-3 mb-3">{{ad.title}}</h5>
                    <p class="card-text">{{ad.description}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="mypaginator">
        <ul class="pagination justify-content-center m-0 p-0">

            {% if ads.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ ads.previous_page_number }}">previous</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="#"> {{ ads.number }} of
                    {{ ads.paginator.num_pages }}</a></li>

            {% if ads.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ ads.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ ads.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>

</div>

<script src={% static 'js/index.js' %}></script>

{% endblock content %}