{% extends 'personal/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href={% static 'css/ad_detail.css' %}>

<div class="main-container">
    <div class="wrapper">
        <div class="product-img">
            <img src="{{ad_detail.image.url}}">
        </div>

        <div class="product-info">
            {% if ad_detail.author == request.user %}
            <div class="editable">
                <form method="POST" action="{% url 'delete_ad' ad_detail.slug %}">
                    {% csrf_token %}
                    <a href="{% url 'edit_ad' ad_detail.slug %}" class="btn btn-sm">Update
                        post</a>
                    <button type="submit" class="btn btn-sm">Delete</button>
                </form>
            </div>
            {% endif %}
            <div class="product-text">
                <h1>{{ad_detail.title}}</h1>
                <h2>{{ad_detail.district}} - {{ad_detail.city}}</h2>
                <p>
                    Description - {{ad_detail.description}}<br>
                    is negotiable - {{ad_detail.is_negotiable}}<br>
                    author - {{ad_detail.author}}<br>
                </p>
                <table class="table">
                    <tr>
                        <td>body type</td>
                        <td>{{ad_detail.body_type}}</td>
                    </tr>
                    <tr>
                        <td>Vehicle Brand</td>
                        <td>{{ad_detail.vehicle_brand}}</td>
                    </tr>
                    <tr>
                        <td>Vehicle model</td>
                        <td>{{ad_detail.vehicle_model}}</td>
                    </tr>
                    <tr>
                        <td>transmission </td>
                        <td>{{ad_detail.transmission}}</td>
                    </tr>
                    <tr>
                        <td>fuel_type</td>
                        <td>{{ad_detail.fuel_type}}</td>
                    </tr>
                </table>
            </div>
            <div class="product-price-btn">
                <p>Rs.<span>{{ad_detail.price}}</span></p>
                <button type="button" class="share-button">
                    <span style="font-size: 16px; line-height: 30px;">Contact</span>
                    <p>{{ad_detail.author.cnumber}}</p>
                </button>
            </div>
            <div class="date-section">
                <h6>date published - {{ad_detail.date_published}}</h6>
            </div>

        </div>

    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>



{% endblock content %}