 
{% extends 'personal/base.html' %}

{% block content %}

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">You must authenticate to view this page. </p>
		<p class="m-auto">
			<a href="{% url 'register' %}">Create an account</a> or 
			<a href="{% url 'login' %}">login</a>.
		</p>
	</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

{% endblock content %}
