{% block content %}

    <h2>This is registration page</h2>

    <form method="POST" action="">
        {% csrf_token %}

        {% for field in registration_form %}
            <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}
            
            {% for error in field.errors%}
                <small style="color: red;">{{error}}</small>
            {% endfor %}
            </p>
        {% endfor %}

        <button type="submit">Submit</button>
    </form>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
{% endblock content %}

